
.barranav{
    header{
    margin: 0px 250px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0px 20px;
    }
}

// Tamaño del contenedor del mapa
.my-google-map{
    .map-container{
      display: flex;
    }
  }




